{% extends "layout.html" %}
{%  block style %}
<title>Resident Profile</title>
{% endblock %}
{% block content %}
<div>
  <!-- Couldnt centre the card -->
  <div class="row">
    <div class="col m4 mx-auto">
      <div class="card">
        <div class="card-content">
          <h4>PROFILE</h4>
          <div>
            Name: {{details["Name"]}} <br />
            Email : {{details["Email"]}} <br />
            FlatNo: {{details["FlatNo"]}} <br />
            Phone: {{details["PhoneNo"]}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clear" style="clear:both; height: 10px;"></div>
</div>
<!-- Use a modal for this or visible on click -->

</body>
{% endblock content %}