{% extends "Navigation_Residents.html" %} {% block content %}
<div class="container">
  <div class="title">
    YOUR VEHICLES
  </div>

  <div class="container-fluid">
    <div class="resident-deck row">
      {% if vehicleCount > 0 %} {% for i in range(vehicleCount) %}
      <div class="card col-sm-3 text-center">
        <div class="card-body">
          <div class="card-title">
            VEHICLE {{i + 1}}
          </div>
          <div class="card-text">
            Vehicle Number: {{vehicles[i]["VehicleNo"]}} <br />
            Allotted Slot: {{vehicles[i]["AllottedSlot"]}}
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <div class="card col-sm-4 text-center">
        <div class="card-text">
          You have not registered any vehicles. <br />
          Please contact Admin to register.
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container">
  <div class="title">
    VISITORS
  </div>
  <div class="container-fluid">
    <div class="resident-deck row">
      {% if visitorCount > 0 %} {% for i in range(visitorCount) %}
      <div class="card col-sm-3 text-center">
        <div class="card-body">
          <div class="card-title">
            VISITOR {{i + 1}}
          </div>
          <div class="card-text">
            Vehicle Number: {{visitorVehicles[i]["VehicleNo"]}} <br />
            Name: {{visitorVehicles[i]["Name"]}}
          </div>
        </div>
      </div>
      {% endfor %} {% else %}
      <div class="card col-sm-4 text-center">
        <div class="card-text">
          You are not expecting any visitors
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="formButtons container-fluid">
  <button data-toggle="modal" data-target="#AddModal">ADD VISITOR</button>
  <button data-toggle="modal" data-target="#DeleteModal">
    DELETE VISITOR
  </button>
</div>

<div id="AddModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">ADD VISITOR</h4>
      </div>
      <div class="modal-body">
        <form>
          {%set action = "/Resident/Visitor" %}
          <label>Visitor's Name</label>
          <input type="text" id="Name" class="form-control" />
          <label>Vehicle Number</label>
          <input type="text" id="VehicleNo" class="form-control" required />
          <input
            id="AddVisitor"
            type="button"
            class="btn btn-default"
            value="Add Visitor"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<div id="DeleteModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          &times;
        </button>
        <h4 class="modal-title">DELETE VISITOR</h4>
      </div>
      <div class="modal-body">
        <form>
          {%set action = "/Resident/Visitor" %}
          <label>Visitor's Name</label>
          <input type="text" id="Name" class="form-control" />
          <label>Vehicle Number</label>
          <input type="text" id="VehicleNo_del" class="form-control" required />
          <input
            id="DeleteVisitor"
            type="button"
            class="btn btn-default"
            value="Delete Visitor"
          />
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  // Ajax call to add visitor
  $("#AddVisitor").on("click", function(event) {
    var action = "{{action | safe}}"; // use the jinja variable action
    var data = {
      Name: $("#Name").val(),
      VehicleNo: $("#VehicleNo").val()
    };

    $.ajax({
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      },
      url: action,
      type: "POST",
      dataType: "json",
      data: JSON.stringify(data),
      success: function(result) {
        console.log(result);
        var reloadURL = "/Resident";
        window.location.href = reloadURL;
      }
    });
  });

  // Ajax call to delete visitor
  $("#DeleteVisitor").on("click", function(event) {
    var action = "{{action | safe}}"; // use the jinja variable action
    var data = {
      VehicleNo: $("#VehicleNo_del").val()
    };
    console.log(JSON.stringify(data));
    $.ajax({
      headers: {
        Accept: "application/json",
        "Content-Type": "application/json"
      },
      url: action,
      type: "DELETE",
      dataType: "json",
      data: JSON.stringify(data),
      success: function(result) {
        console.log(result);
        var reloadURL = "/Resident";
        window.location.href = reloadURL;
      }
    });
  });
</script>
{% endblock %}
